
#top3 {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.top3-content h2 {
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
    padding-top: 5rem;
    text-transform: uppercase;
}

.top3-content p {
    display: flex;
    max-width: 80rem;
    padding: 3rem;
}